<div class="container">
        <div class="sidebar-menu">
            <div class="profile-settings">
                <a href='/profile' id="sidebar-text">
                <div class="icon-name-style sidebar-opts opts-profile" id="profile">
                    <div id="img">
                        <img id="avatar" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                    </div>
                    <div class="icon-padding profile-desc"> 
                        <div id="account-name">{{ user.name }}</div>
                        <div id="account-type">{{ user.acctype }}</div>
                    </div>
                    
                    
                </div>
                </a>

                <a href="settings.html" id="sidebar-text">
                <div class="icon-name-style sidebar-opts" id="settings">
                    <i class="fa-solid fa-gear"></i> <div class="icon-padding">Settings</div>
                </div>
                </a>

                <a href="help.html" id="sidebar-text">
                <div class="icon-name-style sidebar-opts" id="help">
                    <i class="fa-solid fa-question"></i> <div class="icon-padding">Ask help</div>
                </div>
                </a>

            </div>

            <div class="logout">
                <a href="/" id="sidebar-text">
                    <div class="icon-name-style sidebar-opts" id="logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> <div class="icon-padding"> Log-out </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="main-menu">
            <div class="main-header">
                <img src="/common/images/dlsu-logo.png" id="dlsu-logo">
                <div class="icon-padding"><h1 id="header-title">COMPUTER LAB RESERVATION</h1></div> 
            </div>
            <div class="main-info">
                <div class="current-info-date">
                    <div>
                        <h1 id="currentDate">{{ currentDate }}</h1>
                    </div>
                    <div>
                        <h2 id="labnum" value="1">Current Lab: Lab 1</h2>
                    </div>
                </div>

               <div class="current-info-availability">
                    <div class="availability" id="avail">
                        <div class="icon-name-style status-icons" id="number">
                            <img id="green-dot" src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Basic_green_dot.png">
                            <div class="icon-padding">
                                <span id="number-vacant">{{ vacantCount }}</span>
                            </div>
                        </div>
                        Vacant
                    </div>
                    <div class="availability" id="reserved">
                        <div class="icon-name-style status-icons" id="number">
                            <img id="red-dot" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Basic_red_dot.png">
                            <div class="icon-padding">
                                <span id="number-reserved">{{ reservedCount }}</span>
                            </div>
                        </div>
                        Reserved
                    </div>
                </div>
            </div>


            <div class="main-buttons">
                <br>
                <div class="dropdown" id="mDropdown">
                    <button class="button dropbtn"><i class="fa-solid fa-computer"></i></button>
                </div>
    
                
                <form action="/main" method="post">
                <input type="hidden" name="action" value="prevPage">
                <button class="button" action="prevPage"><i class="fa-solid fa-chevron-left"></i> </button>
                </form>
                 <form action="/main" method="post">
                <input type="hidden" name="action" value="nextPage">
                <button class="button" action="nextPage"><i class="fa-solid fa-chevron-right"></i> </button>
                </form>

                <div class="dropdown" id="myDropdown">
                    <label for="selectedDate">Select Date:</label>
                    <select id="selectedDate">
                        <!-- Options will be dynamically generated here -->
                    </select>
                </div>

                <div id="currentTime">
                    <label for="selectedTime">Selected Time Slot:</label>
                    <span id="selectedTimeDisplay"></span>
                </div>
                
            </div>

            <div class="main-slots">
                <div class="timeslot-container">
                    <div class="time-slots">
                        <h2 id="timeslot-title"> Time Slots </h2>
                        <div class="time-slots verti-scroll">
                            <div class="time-sec">
                                <div class="time-slot" data-time="09:00 - 9:30 AM">
                                    <button class="time-button" onclick="selectTime('09:00 - 9:30 AM', '1')">09:00 - 9:30 AM</button>
                                </div>
                                <div class="time-slot" data-time="09:30 - 10:00 AM">
                                    <button class="time-button" onclick="selectTime('09:30 - 10:00 AM', '1')">09:30 - 10:00 AM</button>
                                </div>
                            </div>
                            <div class="time-sec">
                                <div class="time-slot" data-time="10:00 - 10:30 AM">
                                    <button class="time-button" onclick="selectTime('10:00 - 10:30 AM', '1')">10:00 - 10:30 AM</button>
                                </div>
                                <div class="time-slot" data-time="10:30 - 11:00 AM">
                                    <button class="time-button" onclick="selectTime('10:30 - 11:00 AM', '1')">10:30 - 11:00 AM</button>
                                </div>
                            </div>
                            <div class="time-sec">
                                <div class="time-slot" data-time="11:00 - 11:30 AM">
                                    <button class="time-button" onclick="selectTime('11:00 - 11:30 AM', '1')">11:00 - 11:30 AM</button>
                                </div>
                                <div class="time-slot" data-time="11:30 - 12:00 PM">
                                    <button class="time-button" onclick="selectTime('11:30 - 12:00 PM', '1')">11:30 - 12:00 PM</button>
                                </div>
                            </div>
                            <div class="time-sec">
                                <div class="time-slot" data-time="12:00 - 12:30 PM">
                                    <button class="time-button" onclick="selectTime('12:00 - 12:30 PM', '1')">12:00 - 12:30 PM</button>
                                </div>
                                <div class="time-slot" data-time="12:30 - 01:00 PM">
                                    <button class="time-button" onclick="selectTime('12:30 - 01:00 PM', '1')">12:30 - 01:00 PM</button>
                                </div>
                            </div>
                            <div class="time-sec">
                                <div class="time-slot" data-time="01:00 - 01:30 PM">
                                    <button class="time-button" onclick="selectTime('01:00 - 01:30 PM', '1')">01:00 - 01:30 PM</button>
                                </div>
                                <div class="time-slot" data-time="01:30 - 02:00 PM">
                                    <button class="time-button" onclick="selectTime('01:30 - 02:00 PM', '1')">01:30 - 02:00 PM</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
            </div>
                <div class="seats">
                    <div class="table-container">
                        <div class="row">
                            <div class="colheader colspan-100"><b><h2>Seats</h2></b></div>
                        </div>
                        
                        <div class="row">
                            {{#each reservation}}
                            <div class="col {{status}}" data-reservedby="{{reservedby}}" name="seatnum">{{seatnum}}</div>
                            {{/each}}
                        </div>

                    </div>
                </div>
            </div>

            <div class="main-footer">
                <div class="left-guidelines">
                    <h2>Guidelines</h2><br>
                    <p>1. The computer labs are available for all students of the University
                        <br><br>2. Reservations can be made one day before the intended date of use through the online booking system.
                        <br><br>3. Use of the rooms is on a first come first served basis, but prior reservations can be made for guaranteed availability.

                    </p>
                </div>
                <div class="form-container">
                    <form id="reservation-form" action="/main" method="POST" onsubmit="return submitForm()">
                        <input type="hidden" name="action" value="reserve">


                        <label for="slotreserverd">Select a Time:</label>
                        <select id="slotreserverd" name="slotreserverd" required>
                            <option value="">Select a Time Slot</option>
                            {{#each timeSlots}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>

                        <label for="seat">Select a Seat:</label>
                        <select id="seat" name="seat" required>
                            <option value="">Select a Seat</option>
                            {{#each reservation}}
                            {{#if istaken}}
                            {{else}}
                            <option value="{{seatnum}}">{{seatnum}}</option>
                            {{/if}}
                            {{/each}}
                        </select>

                        <input type="hidden" id="selected-seat" name="seatnum">
                        
                        <p>Chosen Date:</p>
                        <input type="date" id="selectedDateInput" name="selectedDateInput" value="">
                            <br><br>

                        <button type="submit" class="button">Reserve</button>
                        
                    </form>
                </div>
                <div class="right-guidelines">
                    <h2>Prohibited Activities</h2><br>
                    <p>1. Eating
                        <br><br>2. Playing cards/board games/musical instruments
                        <br><br>3. Gambling
                        <br><br>4. Leaving personal belongings unattended
                        <br><br>5. Bringing in of additional chairs and other pieces of furniture 
                    </p>
                </div>
            </div>
        </div>
        <div class="main-ads">
            <img id="img-1" src="https://www.dlsu.edu.ph/wp-content/uploads/2018/09/f-7.jpg">
            <img id="img-2" src="https://digitaldelasalle.files.wordpress.com/2020/09/goks-0004.jpg">
            <img id="img-3" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/De_La_Salle_University_Manila_DLSU_Malate_Gokongwei_Hall_Lobby.jpg">
        </div>
    </div>

<script>

        // JavaScript to show reservedby data on hover
document.addEventListener('DOMContentLoaded', function() {
    const seats = document.querySelectorAll('.seats .col');

    seats.forEach(seat => {
        seat.addEventListener('mouseover', function() {
            const reservedBy = seat.getAttribute('data-reservedby');
            if (reservedBy) {
                // Set reservedBy value as title attribute (tooltip)
                seat.setAttribute('title', reservedBy);
            }
        });

        seat.addEventListener('mouseout', function() {
            // Remove title attribute when mouse leaves the seat
            seat.removeAttribute('title');
        });
    });
});


    // Get the current date
    const currentDate = new Date();

    // Function to format date as YYYY-MM-DD
    const formatDate = (date) => {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    };

    // Populate dropdown with dates for the next 7 days
    const dropdown = document.getElementById('selectedDate');
    for (let i = 0; i < 7; i++) {
        const date = new Date(currentDate);
        date.setDate(currentDate.getDate() + i);
        const option = document.createElement('option');
        option.value = formatDate(date);
        option.textContent = formatDate(date);
        dropdown.appendChild(option);
    }
    // Get the selected date from the dropdown
    const selectedDateElement = document.getElementById("selectedDate");
    const selectedDate = selectedDateElement.value;

    // Set the selected date value to the hidden input field
    document.getElementById("selectedDateInput").value = selectedDate;

    


    // JavaScript to update the hidden input field with selected seatnum
    document.getElementById('seat').addEventListener('change', function() {
        const selectedSeat = this.value;
        document.getElementById('selected-seat').value = selectedSeat;
    });

     async function selectTime(selectedTime, selectedLab) {
    try {
        // Remove background color from all time-slots
        var timeSlots = document.querySelectorAll('.time-slot');
        timeSlots.forEach(function (slot) {
            slot.style.backgroundColor = ''; // Reset background color
        });

        // Change background color of the parent .time-slot
        var selectedButton = document.querySelector('.time-button[data-time="' + selectedTime + '"]');
        if (selectedButton) {
            var selectedSlot = selectedButton.parentElement;
            if (selectedSlot) {
                selectedSlot.style.backgroundColor = 'green';
            }
        }
        // Get the selected date element
        var selectedDateElement = document.getElementById("selectedDate");

        // Get the selected date value
        var selectedDate = selectedDateElement.value;

        // Now you have the selected date in the selectedDate variable
        console.log("Selected Date:", selectedDate);

        document.getElementById("slotreserverd").value = selectedTime;
        document.getElementById("labnum").value = selectedLab;
        document.getElementById("selectedTimeDisplay").textContent = selectedTime;

        // Send request to backend to update seatDisplays
        const response = await fetch('/updateSeatDisplays', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ slotreserverd: selectedTime, labnum: selectedLab, selectedDate: selectedDate })
        });
        if (response.ok) {
            // Update seat class based on the response
            const seatData = await response.json();
            const seats = document.querySelectorAll('.seats .col');
            let vacantCount = 0;
            let reservedCount = 0;
            seats.forEach(seat => {
                const seatnum = seat.textContent.trim();
                const reservation = seatData.find(res => res.seatnum === seatnum);
                if (reservation) {
                    seat.className = 'col ' + reservation.status;
                    seat.setAttribute('data-reservedby', reservation.reservedby);
                    if (reservation.status === "vacant") {
                        vacantCount++;
                    } else if (reservation.status === "reserved") {
                        reservedCount++;        
                    }
                
                } else {
                    seat.className = 'col vacant';
                    vacantCount++;
                }
            });

            // Update counts in the HTML
            document.getElementById("number-vacant").textContent = vacantCount;
            document.getElementById("number-reserved").textContent = reservedCount;
        }

    } catch (error) {
        console.error('Error:', error);
    }
}

</script>

