<div class="container">
    <div class="left-panel">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png " id="profile-icon"/>
        <h4 id="account-name"> {{user.name}} </h4>
        <p id="account-type"> {{user.acctype}} </p>
        </br>
    </div>
    <div class="right-panel">
        <div class="info">
            <h3 class="title-info">Edit Information</h3>
            <div class="info-data">
                <div class="data">
                    <h4>Full Name</h4>
                    <input type="text" id="name" name="name">
                    <p id="prev-name">Previous: {{user.name}}</p>
                    <h4>Email</h4>
                    <input type="text" id="email" name="email">
                    <p id="prev-email">Previous: {{user.email}}</p>
                </div>
                <div class="data">
                    <h4>Phone Number</h4>
                    <input type="text" id="phone">
                    <p id="account-number">Previous: {{user.number}}</p>
                    <h4>Department</h4>
                    <input type="text" id="dept">
                    <p id="account-department">Previous:{{user.department}}</p>
                    <h4>Address</h4>
                    <input type="text" id="address">
                    <p id="account-address">Previous:{{user.address}}</p>
                    <h4>Birthdate</h4>
                    <input type="date" id="bday">
                    <p id="account-birthdate">Previous:{{user.birthdate}}</p>
                </div>
            </div>
        </div>
            <div class="buttons">
                <table>
                    <tr><a href="/profile"><button type="button" id="savebtn">Save Changes</button></a> </tr>
                    <tr><a href="/profile"><button type="button" id="savebtn">Back</button></a> </tr>
                </table>
            </div>
        </div>
    </div>
</div>
