<div class="container">
    <div class="left-panel">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" id="profile-icon"/>
        <h4 id="account-name">{{user.name}}</h4>
        <p id="account-type">{{user.acctype}}</p>
        <a href="/profile_edit"><button type="button" id="edit-btn">Edit Personal Details</button></a>
        <form id="delete-form" action="/deleteUser" method="POST">
            <button type="submit" id="delete-btn">Delete Account</button>
        </form>
        <a href="/main"><button type="button" id="back-btn">Back to Home</button></a>
    </div>
    <div class="right-panel">
        <div class="info">
            <h3 class="title-info">Information</h3>
            <div class="info-data">
                <div class="data">
                    <h4>Name</h4>
                    <p id="account-name">{{user.name}}</p>
                    <h4>Email</h4>
                    <p id="account-email">{{user.email}}</p>
                </div>
                <div class="data">
                    <h4>Phone Number</h4>
                    <p id="account-number">{{user.phone}}</p>
                    <h4>Department</h4>
                    <p id="account-department">{{user.department}}</p>
                    <h4>Campus</h4>
                    <p id="account-address">{{user.address}}</p>
                    <h4>Birthdate</h4>
                    <p id="account-birthdate">{{user.birthdate}}</p>
                </div>
            </div>
        </div>
    <div class="reservations">
        <h3>Reservations Data</h3>
            <div class="reservation-data">
                <table>
                    <thead>
                        <tr>
                            <th>Seat No</th>
                            <th>Lab No</th>
                            <th>Date Reserved</th>
                            <th>Slot Reserved</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each reservations}}
                        <tr>
                            <td>{{this.seatnum}}</td>
                            <td>{{this.labnum}}</td>
                            <td>{{this.datereserved}}</td>
                            <td>{{this.slotreserved}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteForm = document.getElementById('delete-form');

        deleteForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Confirm deletion before submitting the form
            const confirmDelete = confirm('Are you sure you want to delete your account? This action cannot be undone.');

            if (confirmDelete) {
                // Submit the form
                deleteForm.submit();
            }
        });
    });
</script>
