<div class="container">
        <div class="sidebar-menu">
            <div class="profile-settings">
                <a href="/profilepage" id="sidebar-text">
                <div class="icon-name-style sidebar-opts opts-profile" id="profile">
                    <div id="img">
                        <img id="avatar" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                    </div>
                    <div class="icon-padding profile-desc"> 
                        <div id="account-name">{{ user.name }}</div>
                        <div id="account-type">{{ user.acctype }}</div>
                    </div>
                    
                    
                </div>
                </a>

                <a href="settings.html" id="sidebar-text">
                <div class="icon-name-style sidebar-opts" id="settings">
                    <i class="fa-solid fa-gear"></i> <div class="icon-padding">Settings</div>
                </div>
                </a>

            </div>

            <div class="logout">
                <a href="/" id="sidebar-text">
                    <div class="icon-name-style sidebar-opts" id="logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> <div class="icon-padding"> Log-out </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="main-menu">
            <div class="main-header">
                <img src="/common/images/dlsu-logo.png" id="dlsu-logo">
                <div class="icon-padding"><h1 id="header-title">COMPUTER LAB RESERVATION</h1></div> 
            </div>
            <div class="main-info">
                <div class="current-info-date">
                    <div>
                        <h1>{{ currentDate }}</h1>
                    </div>
                    <div>
                        <h2>Current Lab: Lab #1</h2>
                    </div>
                </div>

                <div class="current-info-availability">
                    <div class="availability" id="avail">
                        <div class="icon-name-style status-icons" id="number">
                            <img id="green-dot" src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Basic_green_dot.png"> <div class="icon-padding">{{ vacantCount }}</div>
                        </div>
                        Vacant
                    </div>
                    <div class="availability" id="reserved">
                        <div class="icon-name-style status-icons" id="number">
                            <img id="red-dot" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Basic_red_dot.png"> <div class="icon-padding">{{ reservedCount }}</div>
                        </div>
                        Reserved
                    </div>
                </div>
            </div>


            <div class="main-buttons">
                <br>
                <div class="dropdown" id="myDropdown">
                    <button class="button dropbtn"><i class="fa-solid fa-computer"></i> Go to Lab</button>
                    <div class="dropdown-content">
                        <a href="techview.html">
                            <p>Lab #1</p>
                        </a>
                        <a href="techview2.html">
                            <p>Lab #2</p>
                        </a>
                        <a href="techview3.html">
                            <p>Lab #3</p>
                        </a>
                    </div>
                </div>
    
                <button id="calendarButton" class="button"><i class="fa-solid fa-calendar-days"></i> Go to Date</button>
                <div id="calendarPopup" class="calendar-popup">
                    <input type="date" id="selectedDate">
                </div>
                <button class="button"> <i class="fa-solid fa-chevron-left"></i> </button>
                <button class="button"> <i class="fa-solid fa-chevron-right"></i> </button>
            </div>

            <div class="main-slots">
                <div class="timeslot-container">
                    <div class="time-slots">
                        <h2 id="timeslot-title"> Time Slots </h2>
                        <div class="time-slots verti-scroll">
                            <div class="time-sec">
                                <div class="time-slot">
                                    <label>9:00 - 9:30 AM</label>
                                </div>
                                <div class="time-slot">
                                    <label>09:30 - 10:00 AM</label>
                                </div>
                            </div>
                            <div class="time-sec">
                                <div class="time-slot">
                                    <label>10:00 - 10:30 AM</label>
                                </div>
                                <div class="time-slot">
                                    <label>10:30 - 11:00 AM</label>
                                </div>
                            </div>
                            <div class="time-sec">
                                <div class="time-slot">
                                    <label>11:00 - 11:30 AM</label>
                                </div>
                                <div class="time-slot">
                                    <label>11:30 - 12:00 PM</label>
                                </div>
                            </div>
                            <div class="time-sec">
                                <div class="time-slot">
                                    <label>12:00 - 12:30 PM</label>
                                </div>
                                <div class="time-slot">
                                    <label>12:30 - 01:00 PM</label>
                                </div>
                            </div>
                            <div class="time-sec">
                                <div class="time-slot">
                                    <label>01:00 - 01:30 PM</label>
                                </div>
                                <div class="time-slot">
                                    <label>01:30 - 02:00 PM</label>
                                </div>
                            </div>
                        
                        </div>
                        
                    </div>
                    
                    <br>
                    
                </div>

                <div class="seats">
                    <div class="table-container">
                        <div class="row">
                            <div class="colheader colspan-100"><b>Seats</b></div>
                        </div>
                        <div class="row">
                            {{#each reservation}}
                            <div class="col {{status}}">{{seatnum}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer scroll">
                {{#each reservation}}
                {{#if istaken}}
                <div class="reserve-card">
                    <h3 id="card-title"><u>Reservation Details</u></h3>
                    <div class="card-info">
                        <div class="info-name">Name:</div> 
                        <div class="info-deet">{{reservedby}}</div> 
                    </div>
                    <div class="card-info">
                        <div class="info-name">Time:</div> 
                        <div class="info-deet">{{slotreserved}}</div> 
                    </div>
                    <div class="card-info">
                        <div class="info-name">Seat No.:</div> 
                        <div class="info-deet">{{seatnum}}</div> 
                    </div>
                    <div class="card-info">
                        <div class="info-name">Date Reserved:</div> 
                        <div class="info-deet">{{datereserved}}</div> 
                    </div>
                    <div class="card-buttons">
                        <button class="card-btn edit"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                        <button class="card-btn cancel"><i class="fa-solid fa-xmark"></i> Cancel</button>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="main-ads">
            <img id="img-1" src="https://www.dlsu.edu.ph/wp-content/uploads/2018/09/f-7.jpg">
            <img id="img-2" src="https://digitaldelasalle.files.wordpress.com/2020/09/goks-0004.jpg">
            <img id="img-3" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/De_La_Salle_University_Manila_DLSU_Malate_Gokongwei_Hall_Lobby.jpg">
        </div>
    </div>

    <script>

        let dropdown = document.getElementById('myDropdown');
        let dropdownContent = dropdown.querySelector('.dropdown-content');

        dropdown.querySelector('.dropbtn').addEventListener('click', function() {
            dropdown.classList.toggle('active');
        });

        dropdownContent.querySelectorAll('p').forEach(function(option) {
            option.addEventListener('click', function() {
            console.log('Selected option:', this.textContent);
            dropdown.classList.remove('active');
            });
        });

        document.getElementById('calendarButton').addEventListener('click', function() {
            document.getElementById('calendarPopup').style.display = 'block';
          // Set a timeout to hide the popup after 3 seconds (3000 milliseconds)
            setTimeout(function() {
            document.getElementById('calendarPopup').style.display = 'none';
            }, 3000);
        });
    
        document.getElementById('selectedDate').addEventListener('change', function() {
          // Here you can handle the selected date
            console.log('Selected date:', this.value);
          // You can hide the calendar popup after a date is selected
            document.getElementById('calendarPopup').style.display = 'none';
        });
    </script>