<div class="container">
        <div class="sidebar-menu">
            <div class="profile-settings">
                <a href="/profilepage" id="sidebar-text">
                <div class="icon-name-style sidebar-opts opts-profile" id="profile">
                    <div id="img">
                        <img id="avatar" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                    </div>
                    <div class="icon-padding profile-desc"> 
                        <div id="account-name">{{ user.name }}</div>
                        <div id="account-type">{{ user.acctype }}</div>
                    </div>
                    
                    
                </div>
                </a>

                <a href="/main" id="sidebar-text">
                <div class="icon-name-style sidebar-opts" id="settings">
                    <i class="fa-solid fa-gear"></i> <div class="icon-padding">Reserve</div>
                </div>
                </a>

            </div>

            <div class="logout">
                <a href="/" id="sidebar-text">
                    <div class="icon-name-style sidebar-opts" id="logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> <div class="icon-padding"> Log-out </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="main-menu">
            <div class="main-header">
                <img src="/common/images/dlsu-logo.png" id="dlsu-logo">
                <div class="icon-padding"><h1 id="header-title">COMPUTER LAB RESERVATION</h1></div> 
            </div>
            
            
            <div class="main-footer scroll">
                {{#each reservation}}
                {{#if istaken}}
                <div class="reserve-card">
                    <h3 id="card-title"><u>Reservation Details</u></h3>
                    <div class="card-info">
                        <div class="info-name">Name:</div> 
                        <div class="info-deet">{{reservedby}}</div> 
                    </div>
                    <div class="card-info">
                        <div class="info-name">Time:</div> 
                        <div class="info-deet">{{slotreserverd}}</div> 
                    </div>
                    <div class="card-info">
                        <div class="info-name">Lab No:</div> 
                        <div class="info-deet">{{labnum}}</div> 
                    </div>
                    <div class="card-info">
                        <div class="info-name">Seat No:</div> 
                        <div class="info-deet">{{seatnum}}</div> 
                    </div>
                    <div class="card-info">
                        <div class="info-name">Date Reserved:</div> 
                        <div class="info-deet">{{datereserved}}</div> 
                    </div>
                    <div class="card-buttons">
                        <button class="card-btn cancel" onclick="deleteReservation('{{ _id }}')">
                            <i class="fa-solid fa-xmark"></i> Cancel
                        </button>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="main-ads">
            <img id="img-1" src="https://www.dlsu.edu.ph/wp-content/uploads/2018/09/f-7.jpg">
            <img id="img-2" src="https://digitaldelasalle.files.wordpress.com/2020/09/goks-0004.jpg">
            <img id="img-3" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/De_La_Salle_University_Manila_DLSU_Malate_Gokongwei_Hall_Lobby.jpg">
        </div>
    </div>

    <script>    

        function deleteReservation(reservationId) {
        fetch(`/reservation/${reservationId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                // Remove the reservation card from the UI
                const reservationCard = document.getElementById(`reservation-${reservationId}`);
                if (reservationCard) {
                    reservationCard.remove();
                }
                location.reload();
            } else {
                console.error('Error deleting reservation:', response.statusText);
            }
        })
        .catch(error => console.error('Error deleting reservation:', error));
    }



        let dropdown = document.getElementById('myDropdown');
        let dropdownContent = dropdown.querySelector('.dropdown-content');

        dropdown.querySelector('.dropbtn').addEventListener('click', function() {
            dropdown.classList.toggle('active');
        });

        dropdownContent.querySelectorAll('p').forEach(function(option) {
            option.addEventListener('click', function() {
            console.log('Selected option:', this.textContent);
            dropdown.classList.remove('active');
            });
        });

        document.getElementById('calendarButton').addEventListener('click', function() {
            document.getElementById('calendarPopup').style.display = 'block';
          // Set a timeout to hide the popup after 3 seconds (3000 milliseconds)
            setTimeout(function() {
            document.getElementById('calendarPopup').style.display = 'none';
            }, 3000);
        });
    
        document.getElementById('selectedDate').addEventListener('change', function() {
          // Here you can handle the selected date
            console.log('Selected date:', this.value);
          // You can hide the calendar popup after a date is selected
            document.getElementById('calendarPopup').style.display = 'none';
        });
    </script>